@import url(https://tiffsfontbucket.s3.amazonaws.com/sourcesanspro/stylesheet.css);
@import url(https://tiffsfontbucket.s3.amazonaws.com/texgyre/stylesheet.css);

html{
	font: normal 18px / 3ex 'SourceSansProLight',helvetica,arial,sans-serif;
	color:#222;
}
header, article, footer{
	width: 40rem;
	margin:auto;
}
article{padding-bottom: 3rem;}

h1,h2,h3,h4,h5,h6{font-family: 'SourceSansProSemibold';}

h1 code,h2 code,h3 code,h4 code,h5 code,h6 code,
h1 kbd,h2 kbd,h3 kbd,h4 kbd,h5 kbd,h6 kbd{font-family: 'TeXGyreCursorBold';}

pre,kbd,var,code{font-family:'TeXGyreCursorRegular'}

h1{
	font-size: 2rem;
	line-height:2ex;
}

p{margin: 1.5rem 0;}

footer{
	font-size: .7rem;
	color: #666;
	line-height: 1.5;	
	text-align:left;
}

footer a:link{color:#444;}
footer a:visited{color:#333;}

var{font-family: monospace; font-style:normal}

figcaption{
	width: inherit;
	font-style:italic;
	color:#333;
	font-size:.9rem;
}

/* @supports demo */
#dragonfly{width: 640px; height: 394px; margin:auto;}
#dragonfly img{display:block; width:inherit; height:inherit}

#warning{
	background: rgba(255,232,0,.8);
	margin:0;
	padding: 1rem;
	position:fixed;
	left:0;
	top:0;
	width: 100%;
	text-align:center;
	font-size: 1.2rem;
	line-height: 1.5;
	border-bottom: 2px solid #fc0;
	color:#222;
}

#warning b{color: #c00;}	

button{
	background:#33f;
	border: 2px outset #33f;
	color: #fff;
	font:inherit;
	vertical-align: bottom;
}